.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.2rem; */
  }

  .navbar-logo>img {
      width: 100px;
      height: 30px;
  }
  
  .navbar-logo {
    position: absolute;
    top: 5px;
    left: 30px;
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item2 {
    display: flex;
    align-items: center;
    height: 50px;
  }
  
  .link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

  .btn2 {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    background-color: #1888ff;
    margin-bottom: 10px;
    margin-left: 30px;
}


.btn2:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #1888ff;
}
  
  .link:hover {
    
    color: white;
    font-weight: bold;
    background-color: transparent;
    transition: all 0.2s ease-out;
    border-bottom: 2px solid #1888ff;
    border-radius: 4px;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .mylogin {
    display: none;
  }
  
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .link {
      text-align: center;
      position: absolute;
      left: 0;
      width: 100%;
      /* display: table; */
    }
  
    .link:hover {
      /* background-color: #1888ff; */
      border: 2px solid #1888ff;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: -20px;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: -15px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      margin-bottom: 20px;
    }

    .dropdown-menu {
        position: absolute;
        top: 80px;
        left: 100px;
    }

  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }

    .mobile-login {
      color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    
    }

    .mobile-login:hover {
      color: white;
    font-weight: bold;
    background-color: transparent;
    transition: all 0.2s ease-out;
    /* border-bottom: 2px solid #1888ff; */
    border-radius: 4px;
    border: 0;
    }
  
    
    .nav-links-mobile {
      display: none;
    }

    .mylogin {
      display: block;
      margin-left: 6%;
      text-align: center;
      /* margin: 1.1rem auto; */
      margin-top: 10px;
      border-radius: 4px;
      width: 80%;
      background: #1888ff;
      text-decoration: none;
      color: #fff;
      font-size: 1.1rem;
    }

    .mylogin:hover {
      background: transparent;
      transition: 250ms;
      border: 2px solid #1888ff;
    }
  }

/* @font-face {
    font-family: 'SamsungOne 700';
    font-style: normal;
    font-weight: normal;
    src: local('SamsungOne 700'), url('SamsungOne-700.woff') format('woff');
    }
    


.nav-item {
    
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: 'SamsungOne 700';
    font-weight: 700;
    font-size: 18px;
    
    
}
.navbar-nav {
    margin-left: 50px;
}


.navbar-brand {
    
    color: black;
    font-weight: bold;
}

 .abc:hover {
    background-color: black;
    color: rgba(0, 0, 0, 0.623);
    -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
} 

  .abc:hover .nav-link {
    color: white;
}  

.nav-link {
    color: black;
}

a {
    text-decoration: none;
}


.pt-3 {
    padding-top: 8px!important;
}

@media only screen and (max-width: 540px) {
    .navbar-nav {
        margin-right: 50px; 
    }
    
} */







































/*.section{
        position: relative;
        width: 100%;
        height: 350px;
       
        align-items: center;
        justify-self: center;
        overflow: hidden;

    }
  
        
.section nav
{
                z-index: 2;
                padding: -30px;
            }

.video-container{
                position: absolute;
                top: 0;
                z-index: -1;
                left: 0;
                width: 100%;
            }
.section img
             {
              margin-left: 32rem;
            }*/ 
